<h1>Create</h1>
<h4>Empresa</h4>
<hr />

<div>
    <form asp-action="Salvar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="_CriarEmpresaPartial" model="new EmpresaCliente()" />
        <h4>Endereço</h4>
        <partial name="_CriarEnderecoPartial" model="new Endereco()" />

        <div class="form-group mt-5 mb-5">
            <a class="btn btn-secondary" asp-controller="Empresa" asp-action="Index">Back to List</a>
            <input type="submit" value="Salvar" class="btn btn-success" />
        </div>

        <partial name="_FocusInput-btnVoltarValidade">
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

