@model FolhaPagamentoJoinha6.Models.EmpresaCliente

@{
    ViewData["Title"] = "Create";
    var empresaMae = ViewData["empresaMae"] as EmpresaCliente;
}

<div hidden class="form-group">
    <label asp-for="idEmpresa" class="control-label"></label>
    <input asp-for="idEmpresa" class="form-control" value="@((empresaMae?.idEmpresa))" />
</div>

<div hidden class="form-group">
    <label asp-for="empresaMae" class="control-label"></label>
    <input asp-for="empresaMae" class="form-control" value="@((empresaMae?.empresaMae))" />
</div>
<div class="row mb-3">
    <div class="form-group col-md-6 col-12">
        <label class="control-label">Razão Social empresa mãe</label>
        <input class="form-control" value="@((empresaMae?.razaoSocial) ?? "")" disabled />
    </div>

    <div class="form-group col-md-6 col-12">
        <label class="control-label">CNPJ empresa Mãe</label>
        <input class="form-control" value="@((empresaMae?.cnpj) ?? "")" disabled />
    </div>
</div>

<div class="row mb-3">
    <div class="form-group col-md-6 col-12">
        <label asp-for="razaoSocial" class="control-label"></label>
        <input asp-for="razaoSocial" class="form-control" />
    </div>

    <div class="form-group col-md-6 col-12">
        <label asp-for="cnpj" class="control-label"></label>
        <input asp-for="cnpj" class="form-control" />
    </div>
</div>

<div class="row mb-3">
    <div class="form-group col-md-6 col-12">
        <label asp-for="nomeFantasia" class="control-label"></label>
        <input asp-for="nomeFantasia" class="form-control" />
        <span asp-validation-for="nomeFantasia" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6 col-12">
        <label asp-for="apelido" class="control-label"></label>
        <input asp-for="apelido" class="form-control" />
        <span asp-validation-for="apelido" class="text-danger"></span>
    </div>
</div>

<div class="form-group col-md-6 col-12 mb-3">
    <label asp-for="email" class="control-label"></label>
    <input asp-for="email" class="form-control" />
    <span asp-validation-for="email" class="text-danger"></span>
</div>

<div class="form-group col-12 mb-3">
    <label asp-for="observacao" class="control-label"></label>
    <textarea asp-for="observacao" class="form-control"></textarea>
    <span asp-validation-for="observacao" class="text-danger"></span>
</div>

